{% extends '::base.html.twig' %}
{% import '::navbar.html.twig' as navbar %}
{% import '::flashes.html.twig' as flashes %}

{% set pageTitle = 'Gestione catalogo' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" href="/common/css/site.min.css"/>
{% endblock %}
{% block javascripts %}
		<script type="text/javascript" src="/common/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/common/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/common/js/bootbox.min.js"></script>
		<script type="text/javascript" src="/common/js/hogan-3.0.2.min.js"></script>
		<script type="text/javascript" src="/common/js/textile.min.js"></script>
		<script type="text/javascript" src="/common/js/listmanager.js"></script>
		<script type="text/javascript" src="{{ asset('bundles/chemlabcatalog/js/catalog.js') }}"></script>
{% endblock %}

{% block body %}
	{{ navbar.draw() }}
	<div class="container">
		<h2 id="mainTitle">{{ pageTitle }}</h2>
        {{ flashes.draw() }}
		<hr/>
        <nav id="mainPagination"></nav>
        <button type="button" class="btn btn-primary" id="addItem" data-toggle="modal" data-target="#entityModal"><span class="glyphicon glyphicon-plus"></span> Aggiungi articolo</button>
        <form id="listFilters" class="form-inline">
            <div class="form-group col-lg-4 col-md-6">
                <label for="filterName">Nome</label>
                <input type="text" class="form-control" name="name" id="filterName" /><span role="button" class="reset-field" title="Pulisci il campo"></span>
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label for="filterCode">Codice</label>
                <input type="text" class="form-control" name="code" id="filterCode" /><span role="button" class="reset-field" title="Pulisci il campo"></span>
            </div>
            <div class="form-group col-lg-4 col-md-6">
                <label>Tipo
                    <select class="form-control" id="filterType" name="type">
                        <option></option>
                        <option value="reagent">Reagente</option>
                        <option value="solvent">Solvente</option>
                        <option value="glassware">Vetreria</option>
                        <option value="equipment">Attrezzatura</option>
                        <option value="other">Altro</option>
                    </select>
                </label>
            </div>
        </form>
        <div id="tableOutput"></div>
	</div>
    <div id="entityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="entityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Chiudi</span></button>
                    <h4 class="modal-title" id="entityModalLabel" data-edit-title="Modifica articolo" data-new-title="Aggiungi un articolo"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="itemName" class="col-sm-3 control-label">Nome</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="itemName" name="name" placeholder="Nome articolo" autofocus="autofocus" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemDescription" class="col-sm-3 control-label">Descrizione</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="itemDescription" name="description" placeholder="Descrizione articolo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemCode" class="col-sm-3 control-label">Codice</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="itemCode" name="code" placeholder="Codice articolo" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemType" class="col-sm-3 control-label">Tipo</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="itemType" name="type">
                                    <option value="reagent">Reagente</option>
                                    <option value="solvent">Solvente</option>
                                    <option value="glassware">Vetreria</option>
                                    <option value="equipment">Attrezzatura</option>
                                    <option value="other">Altro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="itemPrice" class="col-sm-3 control-label">Prezzo in &euro;</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="itemPrice" name="price" min="0" step="0.01" required="required"/>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger hidden"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary">Salva</button>
                </div>
            </form>
        </div>
    </div>

{% include '::commonTemplates.html.twig' %}
{% embed '::tableTemplate.html.twig' %}
    {% set tableHeaders = [
        { 'sortBy': 'name', 'text': 'Articolo' },
        { 'sortBy': 'code', 'text': 'Codice' },
        { 'sortBy': 'type', 'text': 'Tipo' },
        { 'sortBy': 'price', 'text': 'Prezzo in €' }
    ] %}
    {% block entityCells %}
        {% verbatim %}
        <td class="item-head">
            <a href="#" data-toggle="modal" data-target="#entityModal" data-entity-id="{{id}}">{{name}}</a>
            {{{description}}}
        </td>
        <td>{{code}}</td>
        <td>{{type}}</td>
        <td class="text-right">{{price}}</td>
        {% endverbatim %}
    {% endblock %}
{% endembed %}

{% endblock %}
