    <script type="text/html" data-template-name="alert">
        {% verbatim %}
        <div class="alert alert-{{ type }}" role="alert">
            {{#dismissable}}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Nascondi</span></button>
            {{/dismissable}}
            {{message}}
        </div>
        {% endverbatim %}
    </script>
    <script type="text/html" data-template-name="paginator">
        {% verbatim %}
        <ul class="pagination">
        {{#pages}}
            {{#skip}}
            <li>&hellip;</li>
            {{/skip}}
            {{#prev}}
            <li><a href="#{{prev}}{{sorting}}" aria-label="Precedente">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            </a></li>
            {{/prev}}
            {{#next}}
            <li><a href="#{{next}}{{sorting}}" aria-label="Successivo">
                <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            </a></li>
            {{/next}}
            {{#page}}
            <li><a href="#{{page}}{{sorting}}"{{#active}} class="active"{{/active}}>{{page}}</a></li>
            {{/page}}                
        {{/pages}}
        </ul>
        {% endverbatim %}
    </script>
