{% macro draw(current) %}
{% set items = [
	{'head': 'Home', 'path': '/', 'name': 'chem_lab_main_homepage'}
] %}
{% if not current %}
    {% set current = app.request.attributes.get('_route') %}
{% endif %}
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="collapse navbar-collapse navbar-headernav-collapse">
				<ul class="nav navbar-nav">
				{%- for key, item in main_navbar -%}
					{%- if routeExists(item.route) and (not item.role is defined or is_granted(item.role)) -%}
					<li{% if item.route == current %} class="active"{% endif %}><a href="{{ path('' ~ item.route) }}">{{ item.desc }}</a></li>
					{%- endif -%}
				{%- endfor -%}
				</ul>
				<ul class="nav navbar-nav navbar-right">
				{% if app.user %}
					<li><a href="{{ path('logout') }}" title="Effettua il logout">
						<span class="glyphicon glyphicon-log-out"></span>
						{{ app.user.name }} {{ app.user.surname }}
					</a></li>
				{% else %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endmacro %}