    <script type="text/html" data-template-name="table" data-sort-fields="{% for header in tableHeaders %}{% if header.sortBy is defined %}{{ header.sortBy }} {% endif %}{% endfor %}">
        {{ '{{#hasEntities}}' }}
        <table class="table table-striped">
            <thead>
                <tr>
                {%- for header in tableHeaders %}
                    {% if header.sortBy is defined %}
                    <th><a data-sort-by="{{ header.sortBy }}">{{ header.text}}</a></th>
                    {% else %}
                    <th{% if header.align is defined %} class="text-{{ header.align }}"{% endif %}>{{ header.text }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {{ '{{#entities}}' }}
                <tr>
            {% block entityCells %}
                {% verbatim %}
                    <td class="item-head">
                        <a href="#" data-toggle="modal" data-target="#entityModal" data-entity-id="{{id}}">{{name}}</a>
                    </td>
                {% endverbatim %}
            {% endblock %}
        {% verbatim %}
                </tr>
                {{/entities}}
            </tbody>
        </table>
        {{/hasEntities}}
        {{^hasEntities}}<em>Nessun oggetto in elenco</em>{{/hasEntities}}
        {% endverbatim %}
    </script>
