{% extends '::base.html.twig' %}
{% import '::navbar.html.twig' as navbar %}
{% import '::flashes.html.twig' as flashes %}

{% set pageTitle = 'Profilo personale' %}
{% form_theme prfform 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme pwdform 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" href="/common/css/site.min.css"/>
{% endblock %}
{% block javascripts %}

{% endblock %}

{% block body %}
	{{ navbar.draw() }}
	<div class="container">
		<h2 id="mainTitle">{{ pageTitle }}</h2>
        {{ flashes.draw() }}
        <h3>
            {% if is_granted('ROLE_ADMIN') %}<span class="glyphicon glyphicon-star" title="Utente amministratore"></span>{% endif %}
            {{ app.user.name }} {{ app.user.surname }} -
            <a href="{{ path('logout') }}" title="Effettua il logout da ChemLab"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </h3>
        {{ form(prfform) }}
		<hr/>
        <h3>Cambio password</h3>
        {{ form(pwdform) }}
	</div>
{% endblock %}